.parallax-container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.image {
  height: 100vh;
}
  
  .parallax-text {
    position: absolute;
    margin-top: 20%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(98, 91, 91);
    font-size: 36px;
    font-weight: bold;
  } 
  
  
  
  .image .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .content span.img-txt {
    background-color: rgb(220, 147, 147);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  
  
  
  h3 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.3rem;
    text-align: center;
  }
  
  .text-box {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
    background-color: black;
    color: white;
      transition: opacity 0.5s ease-in-out;
  
  }
  