.footer {

       padding: 1rem 1rem;
    
       background: rgb(0, 0, 0);
    
       color: rgb(255, 255, 255);
    
       .top {
    
          display: flex;
    
          align-items: center;
    
          text-align: start;
    
          justify-content: space-between;
    
          flex-wrap: wrap;
    
          margin-bottom: -2%;
    
       }
    
      
    
       .bottom {
    
          margin-right: 5%;
    
          margin-left: 5%;
    
          padding-top: 2rem;
    
          text-align: start;
    
          display: flex;
    
          justify-content: space-between;
    
          flex-wrap: wrap;
    
      
    
          div {
    
             display: flex;
    
             flex-direction: column;
    
             margin-right: 2rem;
    
      
    
             h4 {
    
                font-size: 1.3rem;
    
                padding: 1rem 0 0.8rem 0;
    
             }
    
      
    
             a {
    
                text-decoration: none;
    
                color: rgb(255, 255, 255);
    
                padding-bottom: 0.4rem;
    
                font-size: 1.1rem;
    
             }
    
          }
    
      
    
       }
    
      
    
       @media screen and (max-width: 850px) {
    
          padding: 2rem 1rem;
    
          i {
    
             margin: 1rem 1rem 0 0;
    
          }
    
          .bottom div {
    
             width: 50%;
    
             margin-right: 0;
    
             margin-bottom: 1rem;
    
          }
    
       }
    
    }